body {
    font-family: -apple-system,BlinkMacSystemFont,Segoe UI,Roboto,Oxygen-Sans,Ubuntu,Cantarell,Helvetica Neue,sans-serif;
    background-color: grey;
}

.container {
    margin: 0 auto;
}

.spots {
    display: flex;
    justify-content: center;
}

.spots li {
    margin: 10px;
    font-weight: bold;
    cursor: pointer;
}

ul {
    padding: 0;
}

li {
    list-style-type: none;
}

.forecast-box {
    width: 100;
    display: flex;
    text-align: center;
}

.day-box {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
}