/* --------- IMPORTS ---------- */

@import url('https://fonts.googleapis.com/css?family=Montserrat:200,300,400,600');

/* --------- GENERAL ---------- */

.js-app {
  font-family: Montserrat;
}

body { 
    padding-top: 50px; 
}

/* --------- FORECAST HEADER STYLING ---------- */

.forecast-header {
  height: 40vh;
  width: 100%;
  background-image: url('../assets/swell-lines.jpg');
  background-size: cover;
  background-position: center;
  display: flex;
  align-items:center;
  justify-content: center;
}

.forecast-header-content {
  display: table-cell;
  vertical-align: middle;
  float: none;
}

.dropdown-selector {
  padding-bottom: 5px;
}

.dropdown-menu {
  left: 50%;
  right: auto;
  text-align: center;
  transform: translate(-50%, 0);
}

/* --------- FORECAST CONTAINER STYLING ---------- */

.forecast-container {
  display: flex;
  align-items: center;
  justify-content: center;
  padding-top: 60px;
}

/* --------- BUTTON HOVER EFFECT ---------- */

.hover-effect {
  font-size: 2vw;
  letter-spacing: 0.1em;
  color: #e8e8e8;
  border: none;
  border-radius: 10px;
  background: linear-gradient(45deg,#d350db,teal,#d350db);
  background-size: 400% 400%;
  cursor: pointer;
  transition: all 0.3s ease;
  
  &:hover {
    animation: gradient 10s ease infinite;
    font-size: 2.05vw;
  }
}

@keyframes gradient {
  50% {
    background-position: 100% 0;
  }
}