{
  "presets": [
    "env",
    "flow",
    "react",
    "es2015",
    "stage-3"
  ],
  "plugins": [
    "flow-react-proptypes", "transform-object-rest-spread", "transform-es2015-destructuring", "transform-class-properties"
  ]
}