body {
    font-family: -apple-system,BlinkMacSystemFont,Segoe UI,Roboto,Oxygen-Sans,Ubuntu,Cantarell,Helvetica Neue,sans-serif;
}

.container {
    max-width: 200px;
    margin: 0 auto;
}

.spots {
    display: flex;
    justify-content: center;
}

.spots li {
    margin: 10px;
    font-weight: bold;
    cursor: pointer;
}

ul {
    padding: 0;
}

li {
    list-style-type: none;
}

.surf-max {
    display: flex;
}

.loading {
	position: absolute;
	top: 50%;
	left: 50%;
	width: 256px;
	height: 256px;
	margin: -128px 0 0 -128px;
}

.loading:after {
	content: '';
	position: absolute;
	width: 64px;
	height: 12px;
	top: 205px;
	left: 96px;
	background: #e8eaed;
	border-radius: 50%;
	animation: shadow 1.25s linear infinite;
}

.squareXL {
	position: absolute;
	z-index: 1;
	width: 64px;
	height: 64px;
	top: 146px;
	left: 96px;
	background: #fc3e42;
	border-radius: 2px;
	animation: cubexl 1.25s linear infinite;
}

.squareXS {
	position: absolute;
	width: 32px;
	height: 32px;
	top: 114px;
	left: 112px;
	background: #42a7fc;
	border-radius: 2px;
	animation: cubexs 1.25s linear infinite;
}

@-moz-keyframes cubexl {
	0% {
		width: 128px;
		height: 32px;
		transform: translateX(-32px) translateY(35px) rotate(0deg);
	}

	5% {
		width: 128px;
		height: 32px;
		transform: translateX(-32px) translateY(35px) rotate(0deg);
	}

	22% {
		transform: translateX(0) translateY(0) rotate(0deg);
	}

	25% {
		width: 64px;
		height: 64px;
		transform: translateX(0) translateY(-10px) rotate(0deg);
	}

	35% {
		transform: translateX(0) translateY(-90px) rotate(30deg);
	}

	45% {
		transform: translateX(0) translateY(-130px) rotate(60deg);
	}

	50% {
		transform: translateX(0) translateY(-145px) rotate(75deg);
	}

	55% {
		transform: translateX(0) translateY(-150px) rotate(90deg);
	}

	60% {
		transform: translateX(0) translateY(-140px) rotate(105deg);
	}

	65% {
		transform: translateX(0) translateY(-130px) rotate(120deg);
	}

	75% {
		transform: translateX(0) translateY(-90px) rotate(150deg);
	}

	85% {
		width: 64px;
		height: 64px;
		transform: translateX(0) translateY(0) rotate(180deg);
	}

	100% {
		width: 128px;
		height: 32px;
		transform: translateX(-32px) translateY(35px) rotate(180deg);
	}
}

@-webkit-keyframes cubexl {
	0% {
		width: 128px;
		height: 32px;
		transform: translateX(-32px) translateY(35px) rotate(0deg);
	}

	5% {
		width: 128px;
		height: 32px;
		transform: translateX(-32px) translateY(35px) rotate(0deg);
	}

	22% {
		transform: translateX(0) translateY(0) rotate(0deg);
	}

	25% {
		width: 64px;
		height: 64px;
		transform: translateX(0) translateY(-10px) rotate(0deg);
	}

	35% {
		transform: translateX(0) translateY(-90px) rotate(30deg);
	}

	45% {
		transform: translateX(0) translateY(-130px) rotate(60deg);
	}

	50% {
		transform: translateX(0) translateY(-145px) rotate(75deg);
	}

	55% {
		transform: translateX(0) translateY(-150px) rotate(90deg);
	}

	60% {
		transform: translateX(0) translateY(-140px) rotate(105deg);
	}

	65% {
		transform: translateX(0) translateY(-130px) rotate(120deg);
	}

	75% {
		transform: translateX(0) translateY(-90px) rotate(150deg);
	}

	85% {
		width: 64px;
		height: 64px;
		transform: translateX(0) translateY(0) rotate(180deg);
	}

	100% {
		width: 128px;
		height: 32px;
		transform: translateX(-32px) translateY(35px) rotate(180deg);
	}
}

@-o-keyframes cubexl {
	0% {
		width: 128px;
		height: 32px;
		transform: translateX(-32px) translateY(35px) rotate(0deg);
	}

	5% {
		width: 128px;
		height: 32px;
		transform: translateX(-32px) translateY(35px) rotate(0deg);
	}

	22% {
		transform: translateX(0) translateY(0) rotate(0deg);
	}

	25% {
		width: 64px;
		height: 64px;
		transform: translateX(0) translateY(-10px) rotate(0deg);
	}

	35% {
		transform: translateX(0) translateY(-90px) rotate(30deg);
	}

	45% {
		transform: translateX(0) translateY(-130px) rotate(60deg);
	}

	50% {
		transform: translateX(0) translateY(-145px) rotate(75deg);
	}

	55% {
		transform: translateX(0) translateY(-150px) rotate(90deg);
	}

	60% {
		transform: translateX(0) translateY(-140px) rotate(105deg);
	}

	65% {
		transform: translateX(0) translateY(-130px) rotate(120deg);
	}

	75% {
		transform: translateX(0) translateY(-90px) rotate(150deg);
	}

	85% {
		width: 64px;
		height: 64px;
		transform: translateX(0) translateY(0) rotate(180deg);
	}

	100% {
		width: 128px;
		height: 32px;
		transform: translateX(-32px) translateY(35px) rotate(180deg);
	}
}

@keyframes cubexl {
	0% {
		width: 128px;
		height: 32px;
		transform: translateX(-32px) translateY(35px) rotate(0deg);
	}

	5% {
		width: 128px;
		height: 32px;
		transform: translateX(-32px) translateY(35px) rotate(0deg);
	}

	22% {
		transform: translateX(0) translateY(0) rotate(0deg);
	}

	25% {
		width: 64px;
		height: 64px;
		transform: translateX(0) translateY(-10px) rotate(0deg);
	}

	35% {
		transform: translateX(0) translateY(-90px) rotate(30deg);
	}

	45% {
		transform: translateX(0) translateY(-130px) rotate(60deg);
	}

	50% {
		transform: translateX(0) translateY(-145px) rotate(75deg);
	}

	55% {
		transform: translateX(0) translateY(-150px) rotate(90deg);
	}

	60% {
		transform: translateX(0) translateY(-140px) rotate(105deg);
	}

	65% {
		transform: translateX(0) translateY(-130px) rotate(120deg);
	}

	75% {
		transform: translateX(0) translateY(-90px) rotate(150deg);
	}

	85% {
		width: 64px;
		height: 64px;
		transform: translateX(0) translateY(0) rotate(180deg);
	}

	100% {
		width: 128px;
		height: 32px;
		transform: translateX(-32px) translateY(35px) rotate(180deg);
	}
}

@-moz-keyframes cubexs {
	0% {
		width: 64px;
		height: 16px;
		transform: translateX(-16px) translateY(51px) rotate(0deg);
	}

	5% {
		width: 64px;
		height: 16px;
		transform: translateX(-16px) translateY(51px) rotate(0deg);
	}

	22% {
		transform: translateX(0) translateY(3px) rotate(0deg);
	}

	25% {
		width: 32px;
		height: 32px;
		transform: translateX(0) translateY(-15px) rotate(0deg);
	}

	35% {
		transform: translateX(0) translateY(-135px) rotate(-60deg);
	}

	45% {
		transform: translateX(0) translateY(-195px) rotate(-120deg);
	}

	50% {
		transform: translateX(0) translateY(-215px) rotate(-150deg);
	}

	55% {
		transform: translateX(0) translateY(-225px) rotate(-180deg);
	}

	60% {
		transform: translateX(0) translateY(-215px) rotate(-210deg);
	}

	65% {
		transform: translateX(0) translateY(-195px) rotate(-240deg);
	}

	75% {
		transform: translateX(0) translateY(-135px) rotate(-300deg);
	}

	85% {
		width: 32px;
		height: 32px;
		transform: translateX(0) translateY(0) rotate(-360deg);
	}

	100% {
		width: 64px;
		height: 16px;
		transform: translateX(-16px) translateY(51px) rotate(-360deg);
	}
}

@-webkit-keyframes cubexs {
	0% {
		width: 64px;
		height: 16px;
		transform: translateX(-16px) translateY(51px) rotate(0deg);
	}

	5% {
		width: 64px;
		height: 16px;
		transform: translateX(-16px) translateY(51px) rotate(0deg);
	}

	22% {
		transform: translateX(0) translateY(3px) rotate(0deg);
	}

	25% {
		width: 32px;
		height: 32px;
		transform: translateX(0) translateY(-15px) rotate(0deg);
	}

	35% {
		transform: translateX(0) translateY(-135px) rotate(-60deg);
	}

	45% {
		transform: translateX(0) translateY(-195px) rotate(-120deg);
	}

	50% {
		transform: translateX(0) translateY(-215px) rotate(-150deg);
	}

	55% {
		transform: translateX(0) translateY(-225px) rotate(-180deg);
	}

	60% {
		transform: translateX(0) translateY(-215px) rotate(-210deg);
	}

	65% {
		transform: translateX(0) translateY(-195px) rotate(-240deg);
	}

	75% {
		transform: translateX(0) translateY(-135px) rotate(-300deg);
	}

	85% {
		width: 32px;
		height: 32px;
		transform: translateX(0) translateY(0) rotate(-360deg);
	}

	100% {
		width: 64px;
		height: 16px;
		transform: translateX(-16px) translateY(51px) rotate(-360deg);
	}
}

@-o-keyframes cubexs {
	0% {
		width: 64px;
		height: 16px;
		transform: translateX(-16px) translateY(51px) rotate(0deg);
	}

	5% {
		width: 64px;
		height: 16px;
		transform: translateX(-16px) translateY(51px) rotate(0deg);
	}

	22% {
		transform: translateX(0) translateY(3px) rotate(0deg);
	}

	25% {
		width: 32px;
		height: 32px;
		transform: translateX(0) translateY(-15px) rotate(0deg);
	}

	35% {
		transform: translateX(0) translateY(-135px) rotate(-60deg);
	}

	45% {
		transform: translateX(0) translateY(-195px) rotate(-120deg);
	}

	50% {
		transform: translateX(0) translateY(-215px) rotate(-150deg);
	}

	55% {
		transform: translateX(0) translateY(-225px) rotate(-180deg);
	}

	60% {
		transform: translateX(0) translateY(-215px) rotate(-210deg);
	}

	65% {
		transform: translateX(0) translateY(-195px) rotate(-240deg);
	}

	75% {
		transform: translateX(0) translateY(-135px) rotate(-300deg);
	}

	85% {
		width: 32px;
		height: 32px;
		transform: translateX(0) translateY(0) rotate(-360deg);
	}

	100% {
		width: 64px;
		height: 16px;
		transform: translateX(-16px) translateY(51px) rotate(-360deg);
	}
}

@keyframes cubexs {
	0% {
		width: 64px;
		height: 16px;
		transform: translateX(-16px) translateY(51px) rotate(0deg);
	}

	5% {
		width: 64px;
		height: 16px;
		transform: translateX(-16px) translateY(51px) rotate(0deg);
	}

	22% {
		transform: translateX(0) translateY(3px) rotate(0deg);
	}

	25% {
		width: 32px;
		height: 32px;
		transform: translateX(0) translateY(-15px) rotate(0deg);
	}

	35% {
		transform: translateX(0) translateY(-135px) rotate(-60deg);
	}

	45% {
		transform: translateX(0) translateY(-195px) rotate(-120deg);
	}

	50% {
		transform: translateX(0) translateY(-215px) rotate(-150deg);
	}

	55% {
		transform: translateX(0) translateY(-225px) rotate(-180deg);
	}

	60% {
		transform: translateX(0) translateY(-215px) rotate(-210deg);
	}

	65% {
		transform: translateX(0) translateY(-195px) rotate(-240deg);
	}

	75% {
		transform: translateX(0) translateY(-135px) rotate(-300deg);
	}

	85% {
		width: 32px;
		height: 32px;
		transform: translateX(0) translateY(0) rotate(-360deg);
	}

	100% {
		width: 64px;
		height: 16px;
		transform: translateX(-16px) translateY(51px) rotate(-360deg);
	}
}

@-moz-keyframes shadow {
	0% {
		transform: scale(2.5, 1);
	}

	30% {
		transform: scale(1.5, 1);
	}

	55% {
		transform: scale(0.8, 0.8);
	}

	85% {
		transform: scale(1.5, 1);
	}

	100% {
		transform: scale(2.5, 1);
	}
}

@-webkit-keyframes shadow {
	0% {
		transform: scale(2.5, 1);
	}

	30% {
		transform: scale(1.5, 1);
	}

	55% {
		transform: scale(0.8, 0.8);
	}

	85% {
		transform: scale(1.5, 1);
	}

	100% {
		transform: scale(2.5, 1);
	}
}

@-o-keyframes shadow {
	0% {
		transform: scale(2.5, 1);
	}

	30% {
		transform: scale(1.5, 1);
	}

	55% {
		transform: scale(0.8, 0.8);
	}

	85% {
		transform: scale(1.5, 1);
	}

	100% {
		transform: scale(2.5, 1);
	}
}

@keyframes shadow {
	0% {
		transform: scale(2.5, 1);
	}

	30% {
		transform: scale(1.5, 1);
	}

	55% {
		transform: scale(0.8, 0.8);
	}

	85% {
		transform: scale(1.5, 1);
	}

	100% {
		transform: scale(2.5, 1);
	}
}