.day-container {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  width: 100%;

  .day-header {
    background-color: #0058b0;
    color: white;
    width: 100%;
    padding: 40px;

  }

  .day-graphs {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
  }
}

.spot-name {
  padding-bottom: 15px;
}