.dropdown-selector {
  width: 100%; }

.dropdown-icon {
  width: 30px;
  height: 30px;
  background-size: 30px 30px;
  background-repeat: no-repeat;
  background-color: black;
  transform: rotate(-90deg);
  transition: .5s ease; }
  .dropdown-icon.open {
    transform: rotate(0deg);
    transition: .5s ease; }

.dropdown-title-btn .dropdown-title-content-container {
  display: flex;
  flex-wrap: nowrap;
  justify-content: space-between;
  align-items: center;
  padding: 1em; }

.dropdown-region.closed {
  border-bottom-width: 0px; }

.dropdown-title-text {
  color: inherit; }

.dropdown-selector .dropdown-title-btn:not([disabled]):hover {
  color: black; }
  .dropdown-selector .dropdown-title-btn:not([disabled]):hover .dropdown-icon {
    background-color: black; }

.dropdown-selector .dropdown-items {
  background-color: white; }
  .dropdown-selector .dropdown-items .dropdown-item {
    color: inherit;
    padding: .8em;
    border-bottom: .5px solid white; }
    .dropdown-selector .dropdown-items .dropdown-item:last-child {
      border-bottom: 0px; }
    .dropdown-selector .dropdown-items .dropdown-item .dropdown-item-title {
      color: inherit; }

.dropdown-selector:last-child .dropdown-item:last-child {
  border-bottom: .5px solid white; }
