.error-page {
  width: 100vw;
  height: 100vh;
  display: flex;
  flex-direction: column;
  color: black;
  align-items: center;
  text-align: center;
  justify-content: center; }
  .error-page .main-title {
    margin: 10px; }
