.day-container {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  width: 100%;

  .day-header {
    background-color: #0058b0;
    color: white;
    width: 100%;
    padding: 20px 0px;
    
    .buoy-readings-container {
      transition: max-height 1s;
      max-height: 100px;
      overflow: hidden;
      &.hidden {
        max-height: 0;
      }
    }

    .day-date-title {
      margin-bottom: 5px;
    }
  }
  .day-data-header-container {
    color: white;
    display: flex;
    flex-direction: row;
    flex-grow: 1;
    justify-content: space-around;
    align-items: center;
    text-align: center;
    margin-top: 10px;
    .data-header-item {
      width: 33%;
    }
  }

  .buoy-last-updated{
    margin-top: 10px;
    width: 100%;
    text-align: center;
  }
}

.day-sticky-container {
  width: 100%;
  position: sticky;
  top: 0;
  z-index: 9999;
  button {
    border: 1px solid black;
    border-radius: 0px;
    width: 50%;
    line-height: 40px;
    font-size: 25px;
    background-color: white;
    margin: 0px;
  }
}

.spot-name {
  padding-bottom: 15px;
}