.forecast-box {
  display: flex;
  width: 100%;
  justify-content: center;
  align-items: center;
  flex-wrap: nowrap;
}

.forecast {
  width: 100%;
}

.hide-arrow {
  opacity: 0;
}

.day-graphs {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
}
