.day-container {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  width: 100%;

  .day-header {
    background-color: #0058b0;
    color: white;
    width: 100%;
    padding: 20px;
  }
  .day-data-header-container {
    color: white;
    display: flex;
    flex-direction: row;
    flex-grow: 1;
    justify-content: space-around;
    align-items: center;
    text-align: center;
    margin-top: 10px;
    .data-header-item {
      width: 33%;
    }
  }

  .buoy-last-updated{
    margin-top: 10px;
    width: 100%;
    text-align: center;
  }
}

.spot-name {
  padding-bottom: 15px;
}