
.get-started-section {
  display: flex;
  text-align: center;
  align-items: center;
  flex-direction: column;
  height: 100vh;
  color: white;

  .homepage-video {
    position: absolute; 
    right: 0; 
    bottom: 0;
    min-width: 100%; 
    min-height: 100%;
    width: auto; 
    height: 100%; 
    z-index: -100;
    background-size: cover;
    overflow: hidden;
  }

  .get-started-container {
    padding-top: 50px;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
  }
}


.get-started-title {
  padding-top: 10px;
  padding-bottom: 30px;
}

.get-started-copy {
  padding-bottom: 15px;
}