.graphs-container {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
  padding-bottom: 70px;
  width: 100%;
  .graph-box {
    margin: 15px;
    background-color: #313E51;
    border-radius: 20px;
    color: white;
  }

  .graph-box-title {
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
    padding: 15px;
    font-size: 25px;
    background-color: rgb(38, 48, 63);
    border-top-right-radius: 20px;
    border-top-left-radius: 20px;
  }

  .wind-chart {
    width: 50%;
  }

  .sun-chart {
    width: 90%;
  }

  .swell-chart {
    width: 90%;
  }

  .tide-chart {
    width: 90%;

    .tide-lows-highs {
      display: flex;
      justify-content: space-around;
      align-items: center;
      text-align: center;
      padding: 0px 10px;
      padding-top: 10px;
    }
    .bar-chart-bar-label {
      fill: white;
    }
    .horizontal-axis {
      stroke: white;
      fill: white;
      font-size: 4.5px;
    }
  }
  .surf-chart {
    width: 38%;
    .stacked-bar-chart-svg {
      padding: 10px;
    }
    .stacked-bar-chart-label {
      fill: white;
    }
    .horizontal-axis {
      stroke: white;
      fill: white;
      .horizontal-axis-ticks-and-labels {
        fill: white;
        stroke: white;
        font-size: 2.5px;
        .horizontal-axis-tick-label {
          stroke: none; 
        }
      }
    }
  }
}

[class*='-forecast'] {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}