.github-icon {
  background-image: url(../assets/mark-github.svg); }

.surfer-icon {
  background-image: url(../assets/surfer-icon.svg); }

.thumbsup-icon {
  background-image: url(../assets/thumbsup.svg); }

.dropdown-arrow {
  background-image: url(../assets/dropdown-arrow.svg); }

.right-arrow {
  background-image: url(../assets/arrow-icon-right.svg); }

.left-arrow {
  background-image: url(../assets/arrow-icon-left.svg); }
