.github-icon {
  background-image: url(../assets/mark-github.svg)
}

.surfer-icon {
  background-color: black;
  mask-image: url(../assets/surfer-icon.svg);
  mask-size: 100% 100%;
  mask-position: center;
  mask-repeat: no-repeat;
}

.email-icon {
  background-color: black;
  mask-image: url(../assets/email.svg);
  mask-size: 100% 100%;
  mask-position: center;
  mask-repeat: no-repeat;
}
.linkedin-icon {
  background-color: black;
  mask-image: url(../assets/linkedin.svg);
  mask-size: 100% 100%;
  mask-position: center;
  mask-repeat: no-repeat;
}

.search-icon {
  background-color: black;
  mask-image: url(../assets/search-icon.svg);
  mask-size: 100% 100%;
  mask-position: center;
  mask-repeat: no-repeat;
}

.thumbsup-icon {
  background-image: url(../assets/thumbsup.svg)
}

.dropdown-arrow {
  background-color: black;
  mask-image: url(../assets/dropdown-arrow.svg);
  mask-size: 100% 100%;
  mask-repeat: no-repeat;
}

.gone-surfing-icon {
  background-color: black;
  mask-image: url(../assets/gone-surfing.svg);
  mask-size: 100% 100%;
  mask-repeat: no-repeat;
}


.right-arrow {
  background-image: url(../assets/arrow-icon-right.svg)
}

.left-arrow {
  background-image: url(../assets/arrow-icon-left.svg)
}

.wind-arrow {
  background-color: black;
  mask-image: url(../assets/wind-arrow.svg);
  mask-size: 100% 100%;
  mask-repeat: no-repeat;
}

.sunrise-icon {
  background-color: transparent;
  background-image: url(../assets/sunrise.svg);
  background-size: 100% 100%;
  background-repeat: no-repeat;
}
.sunset-icon {
  background-color: transparent;
  background-image: url(../assets/sunset.svg);
  background-size: 100% 100%;
  background-repeat: no-repeat;
}