.navbar {
  font-family: 'Montserrat', sans-serif;
  border-bottom: 1px solid gray;
  color: #fff;
  background-color: #222;
  font-size: 18px;
  font-weight: normal;
  margin-bottom: 0;
  z-index: 1;
  .navbar-brand {
    color: white;
    font-size: 30px;
    font-weight: 900;
  }
}

.navbar-brand,
.navbar-nav li a {
  color: #fff;
  line-height: 60px;
  height: 60px;
  padding-top: 0;
}

.nav.navbar-nav.navbar-right li a {
  color: #fff;
}