/* Position and sizing of burger button */

.bm-burger-button {
  position: fixed;
  width: 36px;
  height: 30px;
  left: 36px;
  top: 36px;
}


/* Color/shape of burger icon bars */

.bm-burger-bars {
  background: #373a47;
}


/* Position and sizing of clickable cross button */

.bm-cross-button {
  height: 24px;
  width: 24px;
  right: 0px!important;
}


/* Color/shape of close button cross */

.bm-cross {
  background: black;
}


/* General sidebar styles */

.bm-menu {
  z-index: 99999;
  opacity: .97;
  background: #FFFFFF;
  padding: 3.5em 0em 0;
  font-size: 1.15em;
}


/* Morph shape necessary with bubble or elastic */

.bm-morph-shape {
  fill: #373a47;
}


/* Wrapper for item list */

.bm-item-list {
  color: #b8b7ad;
  overflow-y: scroll;
}


/* Styling of overlay */

.bm-overlay {
  background: rgba(0, 0, 0, 0.3);
}

.bm-item-list {

}