/* --------- IMPORTS ---------- */

@import url('https://fonts.googleapis.com/css?family=Montserrat:200,300,400,600');

/* --------- VARIABLES ---------- */

$fh-background-img: url('../images/forecast-me-header.jpg');

/* --------- GENERAL ---------- */

.js-app {
  font-family: Montserrat;
}

body { 
    padding-top: 50px; 
}

hr.style-two {
    border: 0;
    height: 1.1px;
    background-image: linear-gradient(to right, rgba(0, 0, 0, 0), rgba(0, 0, 0, 0.75), rgba(0, 0, 0, 0));
}

/* --------- FORECAST HEADER STYLING ---------- */

.forecast-header {
  height: 40vh;
  width: 100%;
  background-image: $fh-background-img;
  background-image: -webkit-image-set(  
    $fh-background-img 1x,  
    $fh-background-img 2x  
  );  
  background-image: image-set(  
    $fh-background-img 1x,  
    $fh-background-img 2x 
  );
  background-size: cover;
  background-position: center;
  display: flex;
  align-items:center;
  justify-content: center;
}

.forecast-header-content {
  display: table-cell;
  vertical-align: middle;
  float: none;
}

.dropdown-selector {
  padding-bottom: 5px;
}

.dropdown-menu {
  left: 50%;
  right: auto;
  text-align: center;
  transform: translate(-50%, 0);
}

/* --------- FORECAST CONTAINER STYLING ---------- */

.day-date-title {
  padding: 15px 0px 0px 0px;
}

.graphs {
  background-color: lightgrey;
}

.charts-wrapper {
  padding-top: 10px;

  .recharts-responsive-container{
    background-color: lightgrey;
    border-bottom-right-radius:15px;
    border-bottom-left-radius:15px;
  }

  .surf-forecast-title{

    h3 {
      margin: 0;
    }

    background-color: grey;
    border-top-right-radius:15px;
    border-top-left-radius:15px;
  }

  .tide-forecast-title{

    h3 {
      margin: 0;
    }

    background-color: grey;
    border-top-right-radius:15px;
    border-top-left-radius:15px;
  }

  .recharts-cartesian-axis-line {
    stroke-width: 5px;
  }
}

.recharts-responsive-container {
  margin: 0 auto;
}

/* --------- BUTTON HOVER EFFECT ---------- */

.hover-effect {
  font-size: 2vw;
  letter-spacing: 0.1em;
  color: #e8e8e8;
  border: none;
  border-radius: 10px;
  background: linear-gradient(45deg,#d350db,teal,#d350db);
  background-size: 400% 400%;
  cursor: pointer;
  transition: all 0.3s ease;
  
  &:hover {
    animation: gradient 10s ease infinite;
    font-size: 2.05vw;
  }
}

@keyframes gradient {
  50% {
    background-position: 100% 0;
  }
}
