/* --------- IMPORTS ---------- */

@import url('https://fonts.googleapis.com/css?family=Montserrat:200,300,400,600');

/* --------- VARIABLES ---------- */

$fh-background-img: url('../images/forecast-me-header.jpg');

/* --------- GENERAL ---------- */

.js-app {
  font-family: Montserrat;
}

body { 
    padding-top: 50px; 
}

hr.style-two {
    border: 0;
    height: 1.1px;
    background-image: linear-gradient(to right, rgba(0, 0, 0, 0), rgba(0, 0, 0, 0.75), rgba(0, 0, 0, 0));
}

/* --------- FORECAST HEADER STYLING ---------- */

.forecast-header {
  height: 40vh;
  width: 100%;
  background-image: $fh-background-img;
  background-image: -webkit-image-set(  
    $fh-background-img 1x,  
    $fh-background-img 2x  
  );  
  background-image: image-set(  
    $fh-background-img 1x,  
    $fh-background-img 2x 
  );
  background-size: cover;
  background-position: center;
  display: flex;
  align-items:center;
  justify-content: center;
}

.forecast-header-content {
  display: table-cell;
  vertical-align: middle;
  float: none;
}

.dropdown-selector {
  padding-bottom: 5px;
}

.dropdown-menu {
  left: 50%;
  right: auto;
  text-align: center;
  transform: translate(-50%, 0);
}

/* --------- FORECAST CONTAINER STYLING ---------- */

.day-date-title {
  padding: 15px 0px 0px 0px;
}

.graphs {
  background-color: lightgrey;
}

.charts-wrapper {
  padding-top: 10px;

  .recharts-responsive-container{
    background-color: lightgrey;
    border-bottom-right-radius:15px;
    border-bottom-left-radius:15px;
  }

  .surf-forecast-title{

    h3 {
      margin: 0;
    }

    background-color: grey;
    border-top-right-radius:15px;
    border-top-left-radius:15px;
  }

  .tide-forecast-title{

    h3 {
      margin: 0;
    }

    background-color: grey;
    border-top-right-radius:15px;
    border-top-left-radius:15px;
  }

  .recharts-cartesian-axis-line {
    stroke-width: 5px;
  }
}

.recharts-responsive-container {
  margin: 0 auto;
}

/* --------- BUTTON HOVER EFFECT ---------- */

.hover-effect {
  font-size: 2vw;
  letter-spacing: 0.1em;
  color: #e8e8e8;
  border: none;
  border-radius: 10px;
  background: linear-gradient(45deg,#d350db,teal,#d350db);
  background-size: 400% 400%;
  cursor: pointer;
  transition: all 0.3s ease;
  
  &:hover {
    animation: gradient 10s ease infinite;
    font-size: 2.05vw;
  }
}

@keyframes gradient {
  50% {
    background-position: 100% 0;
  }
}

/* -------- WAVE LOADER -------------*/

.progress {
  position: absolute;
  background-color: #fff;
  top: 50%;
  left: 50%;
  margin-left: -100px;
}
.progress span {
  position: absolute;
  background-color: #ffa500;
  height: 5px;
  bottom: 0;
  width: 10px;
  animation: ani 1.5s infinite ease-in-out;
}
.progress span:nth-child(0) {
  left: 0px;
  animation-delay: 0s;
}
.progress span:nth-child(1) {
  left: 15px;
  animation-delay: 0.15s;
}
.progress span:nth-child(2) {
  left: 30px;
  animation-delay: 0.3s;
}
.progress span:nth-child(3) {
  left: 45px;
  animation-delay: 0.45s;
}
.progress span:nth-child(4) {
  left: 60px;
  animation-delay: 0.6s;
}
.progress span:nth-child(5) {
  left: 75px;
  animation-delay: 0.75s;
}
.progress span:nth-child(6) {
  left: 90px;
  animation-delay: 0.9s;
}
.progress span:nth-child(7) {
  left: 105px;
  animation-delay: 1.05s;
}
.progress span:nth-child(8) {
  left: 120px;
  animation-delay: 1.2s;
}
.progress span:nth-child(9) {
  left: 135px;
  animation-delay: 1.35s;
}
.progress span:nth-child(10) {
  left: 150px;
  animation-delay: 1.5s;
}
@-moz-keyframes ani {
  0%, 50%, 100% {
    height: 5px;
  }
  25% {
    height: 30px;
    background-color: #f44;
    border-radius: 10%;
    transform: translateX(30px);
  }
}
@-webkit-keyframes ani {
  0%, 50%, 100% {
    height: 5px;
  }
  25% {
    height: 30px;
    background-color: #f44;
    border-radius: 10%;
    transform: translateX(30px);
  }
}
@-o-keyframes ani {
  0%, 50%, 100% {
    height: 5px;
  }
  25% {
    height: 30px;
    background-color: #f44;
    border-radius: 10%;
    transform: translateX(30px);
  }
}
@keyframes ani {
  0%, 50%, 100% {
    height: 5px;
  }
  25% {
    height: 30px;
    background-color: #f44;
    border-radius: 10%;
    transform: translateX(30px);
  }
}
